<mat-toolbar class="toolbarContent">
    <div></div>
    <mat-card-title class="title">Detalhes da Compra - {{compraId}}</mat-card-title>
    <div style="display: flex;" >
        <mat-icon mat-dialog-close class="contentCloseDialog">close</mat-icon>
    </div>
</mat-toolbar>

<mat-card class="content">
    <mat-card-content>
        <mat-dialog-content class="dialogContainer">
            <mat-card class="contentCard" *ngFor="let data of detalhesDaCompra">

                <mat-card-content>
                    <div class="imgCard">
                        <img [src]="data.img" width="64px" height="64px" alt="Foto Produto">
                    </div>
                    <p style="font-weight: 500;">{{data.nome_produto}}</p>
                    <p>Quantidade: {{data.quantidade}}</p>
                    <p>Preço Unit: {{ formatarValorMonetario(data.preco_unitario) }}</p>
                    <p>Subtotal: {{ formatarValorMonetario(data.valor) }}</p>
                </mat-card-content>

            </mat-card>

        </mat-dialog-content>
    </mat-card-content>
</mat-card>
