<mat-toolbar>
    <h1 mat-dialog-title>Confirmar Exclusão</h1>
</mat-toolbar>
<div mat-dialog-content>
    <p>Você tem certeza que deseja excluir a categoria com ID: {{ categoriaObject.id }} e Nome: {{ categoriaObject.nome}}?</p>
</div>
<div mat-dialog-actions class="actionsButtons">
    <button mat-button class="confirmButton" [mat-dialog-close]="true" (click)="deleteCategoriaConfirm()"
        cdkFocusInitial>Confirmar</button>
    <button mat-button class="cancelButton" (click)="closeDialogConfirmation()">Cancelar</button>
</div>