.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card {
    width: max-content;
    margin: 1rem 2rem;
    background-color: #121212;
    min-width: 180px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;

        &:after {
            width: 100%;
            background: yellow;
        }

        .homeActionIcon,
        .homeActionTitle {
            color: yellow;
        }
    }

    &:not(:hover) {
        transition: all 0.3s ease-in-out;

        &:after {
            background-color: #121212;
        }

    }
}

.homeActionTitle {
    font-size: 1rem;
    font-weight: bold;
    color: white;

}

.homeAction {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}