mat-tab-group{
    color: white;
    background-color: transparent;


    
}

mat-card{
    background-color: transparent;
    color: white;
}
.custom-tab-group{
    background-color: white;
    color: white;
}
