th {
    background-color: #121212;
}

td button {
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


mat-toolbar {
    width: 100%;
    color: #121212;
    display: flex;
    justify-content: center;
    // background-color: rgba(255, 255, 255, 0.253);
}

mat-card {
    margin: 1rem;
    opacity: 1;
}

mat-form-field {
    width: 100%;
}


.deleteActionsProdutos {
    background-color: transparent;

    opacity: 1;
    border: none;
    justify-content: center;

    :hover {
        opacity: 0.5;
        cursor: pointer;
    }


    mat-icon {
        color: rgba(255, 0, 0, 0.52);
    }


    mat-icon:hover {
        color: #cb3939;
        opacity: 1;
    }
}