<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Buscar Caixa</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="thCell">ID</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable"> {{caixa.caixa_id}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="data_hora">
                <th mat-header-cell *matHeaderCellDef class="thCell">DataHora</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable">
                        {{caixa.data_hora}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="thCell">Status</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable">
                        {{caixa.status}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="valor_inicial">
                <th mat-header-cell *matHeaderCellDef class="thCell">Valor Inicial</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable">
                        {{ formatarValorMonetario(caixa.valor_inicial) }}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="faturamento_dia">
                <th mat-header-cell *matHeaderCellDef class="thCell">Faturamento do dia</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable">
                        {{ formatarValorMonetario(caixa.faturamento_dia) }}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="valor_total">
                <th mat-header-cell *matHeaderCellDef class="thCell">Valor Total</th>
                <td mat-cell *matCellDef="let caixa">
                    <p class="pValueTable">
                        {{ formatarValorMonetario(caixa.valor_total) }}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="detalhes">
                <th mat-header-cell *matHeaderCellDef class="thCell">Detalhes</th>
                <td mat-cell class="actionsButtons" *matCellDef="let caixa">
                    <div class="pValueTable">
                        <button class="detalhesCliente" (click)="openDialogDetalhesCaixa(caixa)">
                            <mat-icon>list_alt</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>


            <!-- Definição de linhas e colunas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Selecione a página"></mat-paginator>
    </mat-card-content>
</mat-card>
